[submodule "lib/sentry"]
	path = lib/sentry
	url = https://github.com/getsentry/sentry-native.git
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "lib/ArmaPboLib"]
	path = lib/ArmaPboLib
	url = https://github.com/arma3/ArmaPboLib.git
[submodule "lib/s3tc-dxt-decompression"]
	path = lib/s3tc-dxt-decompression
	url = https://github.com/Benjamin-Dobell/s3tc-dxt-decompression.git
[submodule "lib/MipMapTool"]
	path = lib/MipMapTool
	url = https://github.com/arma3/MipMapTool.git
[submodule "lib/minilzo"]
	path = lib/minilzo
	url = https://github.com/yuhaoth/minilzo.git
